[Unit]
Description=Security Sound

[Service]
WorkingDirectory=/amaroq/hass/run/
ExecStart=/amaroq/hass/clients/security_sound.py
Restart=always
RestartSec=3
StandardOutput=journal

[Install]
WantedBy=multi-user.target

